<div id="groupfilter" class="editform">
  <fieldset>
    <legend><%= t('groupfilter_title') %></legend>
    <p id="branch_list">
      <%= render :partial => 'share/branch_list' %>
    </p>
    <p id="group_list">
      <%= render :partial => 'share/group_list' %>
    </p>
    <p id="site_list">
      <%= render :partial => 'share/site_list' %>
    </p>
  </fieldset>
</div>